/* main ichidagi sectionlar */

.basic {
    font-family: monospace;
    font-family:  'Fraunces', 'Arial', 'sans-serif';
    width: 493px;
    height: 145px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* color: #FEFCF7; */
    margin-top: -479px;
    margin-left: 80px;
    color:#FEFCF7;
}
.text {
    max-width: 445px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 56px;
    color: #FEFCF7;
}


.hero-img{
    padding-bottom: 10px;
}

/* collection */

.collection {
    margin-top: 136px;
}

.collection__basic {
    background-image: url("../../images/collection/our_collection.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 130px;
}
.collection__list {
    display: flex;
    justify-content: space-between;
    
}
.collection__item {
    width: 255px;
}
.collection__image {
    width: 255px;
    height: 193px;
    object-fit: contain;
    
}
.collection__title {
    text-align: center;
}

/* center */

.center__container {
    max-width: 1280px;
    height: 577px;
    background-color: #282F38;
    margin-bottom: 200px;
}



.choose {
    font-family: monospace;
    font-family: 'Fraunces', 'Arial', 'sans-serif';
    width: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color:#FEFCF7;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

}
.choose__text {
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #FEFCF7;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
}



/* center quality */
.quality {
    max-width: 350px;
    height: 382px;
    background-color: #0E8784;
    border-radius: 10px;
    margin-top: 130px;
    margin-left: 27px;
}
.quality__img {
    margin-top: 72px;
    margin-right: 143px;
    margin-left: 136px;
}
.quality__text__name {
    margin-top: 56px;
    margin-left: 113px;
    margin-right: 48px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.quality__text {
    max-width: 255px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-left: 47px;
    margin-right: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.for__unit{
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.exclusive-benefits__text__name {
    margin-top: 56px;
    margin-left: 80px;
    margin-right: 48px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

.shipping__text__name {
    margin-top: 56px;
    margin-left: 105px;
    margin-right: 48px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

/* process */

.process {
    margin-top: 200px;
}

.process__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 180px;
    padding-right: 1px;
    
}
.proccess__heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color:  #83888F;
    font-family: monospace;
    font-family: 'Fraunces', 'Arial', 'sans-serif';
    margin-bottom: 80px;
    margin-top: 130px;
    margin-left: -77px;
    
}
.process__list {
    display: flex;
    align-items: flex-start;
    margin-bottom: 64px;
    margin-left: -77px;
}

.process__item {
    width: 380px;
}

.process__icon-line {
    display: flex;
    align-items: center;
    margin-bottom: 61px;
    margin-left: 0;
}

.process__circle {
    display: inline-block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0E8784;
}

.process__line {
    display: inline-block;
    width: 350px;
    height: 4px;
    background-color:#FDD6BA;
    // flex-grow: 1;

}

.process__number {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    font-family: monospace;
    font-family: 'Fraunces', 'Arial', 'sans-serif';
    margin-bottom: 38px;
}

.process__inner-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin: 0;
    margin-bottom: 42px;
    font-family: monospace;
    font-family: 'Fraunces', 'Arial', 'sans-serif';
    max-width: 255px;
}

.process__text {
    max-width: 270px;
    color: #333D4B;
}


/* about.html */

/* first */

.basic__about{
    font-family: monospace;
    font-family:  'Fraunces', 'Arial', 'sans-serif';
    width: 188px;
    height: 48px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* color: #FEFCF7; */
    margin-top: -318px;
    margin-left: 86px;
    color:#FEFCF7;
}

.text__about{
    font-family: 'Barlow';
    font-style: normal;
    width: 415px;
    height: 104px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    margin-left: 86px;
    margin-bottom: 56px;
    color: #FEFCF7;

}

.commitment__all{
    display: flex;
}

.subject{
    font-family: monospace;
    font-family:  'Fraunces', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    color: #333D4B;
}

.commitment__text{
    font-family: 'Barlow';
    font-style: normal;
    width: 540px;
    height: 260px;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    /* or 162% */
    color: #333D4B;
}

.commitment__subject{
    margin: 245px 10px 10px 125px;
}

.commitment__img{
    width: 445px;
    height: 520px;
    margin: 190px 0 0 87px;
    background: #0E8784;
    border-radius: 8px;
}

/* uncompromising */

.uncompromising__subject{
    display: flex;
    width: 1280px;
    height: 474px;
    left: 80px;
    top: 1507px;
    background: #2C343E;
    border-radius: 10px;
    margin-top: 170px;
    margin-bottom: -190px;
    
}

.uncompromising__first{
    font-family: monospace;
    font-family:  'Fraunces', 'Arial', 'sans-serif';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    color: #FEFCF7;
}

.uncompromising__text{
    font-family: 'Barlow';
    font-style: normal;
    width: 507px;
    height: 130px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.uncompromising__quality{
    margin: 50px 0 0 85px;
    
}

.uncompromising__img{
    margin: -80px 0 118px 160px;
}

.process__text-2{
    width: 285px;
    height: 107px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #333D4B;
}

.process__inner-head{
    width: 271px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin: 0;
    margin-bottom: 42px;
    margin-top: -8px;
    font-family: monospace;
    font-family: 'Fraunces', 'Arial', 'sans-serif';
}

.shape {
    margin-bottom: 50px;
}
